body {
	background-color: #056c6f;
	font-family: Arial, sans-serif;
	line-height: 1.6;
	background-color: #f7f7f7;
	color: #333;

}

label {
	font-weight: bold;
}

h1 {
	text-align: center;
	color: rgb(240, 0, 0);

}

img {
	text-align: center;
	align-items: center;
	margin: 10vh;
}

.navbar {
	background-color: rgb(3, 59, 54);
	height: 20vh;
}

.card {
	background-color: #2fcacf;
	margin: 1em;
	height: 50vh;
	text-align: center;
}

.btn_social {
	width: 100%;
	float: left;
	display: flex;
	margin: auto;
}

.btn_social ul {
	width: auto;
	margin: auto;
	float: left;
}

.btn_social ul li {
	position: relative;
	background: #555555;
	list-style: none;
	float: left;
	margin: 10px;
	z-index: 1;
	overflow: hidden;
	border-radius: 3px;
	font-size: 1.5em;
	text-align: center;
}

.btn_social ul li a {
	width: 50px;
	height: 50px;
	line-height: 53px;
	display: block;
	text-decoration: none;
	color: #fff;
	transition: .4s;
}

.btn_social ul li::before {
	transition: 0.4s;
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	top: 90%;
	left: 0;
	background: #2fcacf;
	z-index: -1;
	transform: scale(1);
	transition: .4s;
}

.btn_social ul li:hover::before {
	transition: 0.4s;
	top: 0%;
}

.btn_social ul li a:hover {
	color: #555555;
}

.conteiner .col-12 {
	margin: 20vh;
}

.Igor {
	text-align: center;
	color: azure;
}

footer {
	background-color: rgb(3, 59, 54);
	margin: 20vh;

}

.form-control {
	text-align: center;

}